// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------

clr-mint = #21CE99
clr-onyx = #222428
clr-midnight = #090D16
clr-steel = #82929F
clr-red = #FC4D2D

// -----------------------------------------------------------------------------
// typography
// -----------------------------------------------------------------------------

opensans()
  font-family 'Open Sans', sans-serif !important

// -----------------------------------------------------------------------------
// mixins
// -----------------------------------------------------------------------------

placeholder-color(color)
  &::-webkit-input-placeholder
   color color !important
  &:-moz-placeholder
   color color !important
  &::-moz-placeholder
   color color !important
  &:-ms-input-placeholder
   color color !important
