.container
  background clr-onyx
  width calc(45vw - 200px)
  position relative

.search
  position relative
  width 100%
  height 70px
  i
    absolute top 50% left 30px
    transform translateY(-50%)
    color clr-steel
    z-index 5
  input
    size 100%
    outline none
    background clr-onyx
    border none
    border-bottom 1px solid clr-midnight
    color white
    font-size 16px
    padding 0 30px 0 60px
    placeholder-color(clr-steel)
    opensans()
    &:focus + i
      color white

.companies
  height calc(100vh - 70px)
  overflow auto

.company
  padding 20px 30px
  display block
  cursor pointer
  display flex
  justify-content space-between
  align-items center
  &:not(:last-child)
    border-bottom 1px solid clr-midnight
  &:hover
    background lighten(clr-midnight, 3%)

.companyActive
  background clr-midnight

.companyName
  h3
    font-size 18px
    color white
    margin-bottom 5px
  h5
    font-size 12px
    color clr-steel

.priceUp
  color clr-mint
.priceDown
  color clr-red

.graph
  width 60px
