.container
  background clr-midnight
  color clr-steel
  size 55vw 100vh
  padding 25px
  position relative
  display flex
  flex-direction column
  justify-content space-between
  overflow auto

  p
    font-size 12px
    line-height 20px

.close
  absolute top 10px right 10px
  font-size 24px
  cursor pointer

.header
  display flex
  justify-content space-between
  align-items flex-end
  padding-bottom 30px
  border-bottom 1px solid clr-onyx

.price
  font-size 40px
  font-weight 300
  color white
  margin-bottom 10px

.green
  color clr-mint
.sub
  color white
  font-size 20px

.name
  text-align right

.graph
  flex-grow 1

.info
  display flex
  justify-content space-around
  padding 25px 0
  border-top 1px solid clr-onyx
  border-bottom 1px solid clr-onyx

  h4
    margin-bottom 15px

  div
    width 100%
    text-align left

.stats
  display flex
  justify-content flex-start

  table
    width 45%
    font-size 12px
    padding 0 10px
    tr:last-child td
      border-bottom none
    td
      padding 10px 0
      border-bottom 1px solid clr-onyx
      &:first-child
        text-align left
        color clr-steel
      &:last-child
        text-align right
        color white

.actions
  padding-top 15px
  text-align right

.action
  background clr-mint
  color white
  border none
  border-radius 4px
  font-size 16px
  height 40px
  line-height 40px
  padding 0 40px
  margin-left 15px
  cursor pointer
  opacity 1
  &:hover
    opacity .9
